doctype html
html(class="no-js", lang="en")
	include header
	body
		div(id="main" class="app-container book")
			div(class="row wrap")
				div(class="small-10 columns")
					div.book-bg
						div(id="bb-bookblock" class="bb-bookblock")

					div.nav-breadcrumb

				div(class="small-2 columns menu")
					div
						h2(data-i18n="book.menu.title")
						h4(data-i18n="book.menu.subtitle")

						div.nav-book

							//- Menu 1
							a(href="#" class="button expand large" data-i18n="book.menu.menu_1.submenu_1" data-dropdown="leftDrop1" data-options="align: left" aria-expanded="false")
							ul(id="leftDrop1" class="f-dropdown drop-left large" area-hidden="true" data-dropdown-content )
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_1.submenu_2" data-page="2")
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_1.submenu_3" data-page="3")
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_1.submenu_4" data-page="4")
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_1.submenu_5" data-page="5")
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_1.submenu_6" data-page="6")
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_1.submenu_7" data-page="7")
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_1.submenu_8" data-page="8")
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_1.submenu_9" data-page="9")
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_1.submenu_10" data-page="10")
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_1.submenu_11" data-page="11")
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_1.submenu_12" data-page="12")

							//- Menu 2
							a(href="#" class="button expand large" data-i18n="book.menu.menu_2.submenu_1" data-dropdown="leftDrop2" data-options="align: left" aria-expanded="false")
							ul(id="leftDrop2" class="f-dropdown drop-left large" area-hidden="true" data-dropdown-content )
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_2.submenu_2" data-page="13")
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_2.submenu_3" data-page="15")
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_2.submenu_4" data-page="18")
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_2.submenu_5" data-page="19")

							//- Menu 3
							a(href="#" class="button expand large" data-i18n="book.menu.menu_3.submenu_1" data-dropdown="leftDrop3" data-options="align: left" aria-expanded="false")
							ul(id="leftDrop3" class="f-dropdown drop-left large" area-hidden="true" data-dropdown-content )
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_3.submenu_2" data-page="20")
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_3.submenu_3" data-page="21")
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_3.submenu_4" data-page="22")
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_3.submenu_5" data-page="23")
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_3.submenu_6" data-page="24")
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_3.submenu_7" data-page="25")
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_3.submenu_8" data-page="26")

							//- Menu 4
							a(href="#" class="button expand large" data-i18n="book.menu.menu_4.submenu_1" data-dropdown="leftDrop4" data-options="align: left" aria-expanded="false")
							ul(id="leftDrop4" class="f-dropdown drop-left large" area-hidden="true" data-dropdown-content )
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_4.submenu_2" data-page="27")


							//- Menu 5
							a(href="#" class="button expand large" data-i18n="book.menu.menu_5.submenu_1" data-dropdown="leftDrop5" data-options="align: left" aria-expanded="false")
							ul(id="leftDrop5" class="f-dropdown drop-left large" area-hidden="true" data-dropdown-content )
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_5.submenu_2" data-page="29")
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_5.submenu_3" data-page="30")
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_5.submenu_4" data-page="31")

							//- Menu 6
							a(href="#" class="button expand large" data-i18n="book.menu.menu_6.submenu_1" data-dropdown="leftDrop6" data-options="align: left" aria-expanded="false")
							ul(id="leftDrop6" class="f-dropdown drop-left large" area-hidden="true" data-dropdown-content )
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_6.submenu_2" data-page="34")
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_6.submenu_3" data-page="35")
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_6.submenu_4" data-page="36")

							//- Menu 7
							a(href="#" class="button expand large" data-i18n="book.menu.menu_7.submenu_1" data-dropdown="leftDrop7" data-options="align: left" aria-expanded="false")
							ul(id="leftDrop7" class="f-dropdown drop-left large" area-hidden="true" data-dropdown-content )
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_7.submenu_2" data-page="37")
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_7.submenu_3" data-page="38")
								li
									a(href="#" class="button expand large to-page" data-i18n="book.menu.menu_7.submenu_4" data-page="39")


							//- a(id="next-btn" href="#" class="button expand large") Next
							//- a(id="prev-btn" href="#" class="button expand large") Prev

						div.nav-main
							a(href="#" class="lang-switch" data-i18n="[html]book.nav.switch")
							a(href="index.html" class="ajax")
								img(src="images/home_homeicon.png")

			div(id="reloadModal" class="reveal-modal small" data-reveal)
				img(src="images/modal_close.png")
				h1(data-i18n="[html]home.text") IL GIOCO SI RIAVVIERÀ<BR/>ENTRO 30 SECONDI
				a(class="close-reveal-modal modal-close" data-i18n="home.modal_button") TOCCA PER ANNULLARE

		include footer