doctype html
html(class="no-js", lang="en")
	include header
	body
		div(id="main" class="app-container home")
			div(class="row title")
				div(class="small-12 columns")
					img(src="images/home_homeicon.png")
					h1(data-i18n="home.title")
					h2(data-i18n="home.subtitle")

			div(class="row nav")
				div(class="small-6 columns")
					div(class="big-btn")
						a(href="game.html" class="ajax")
							img(src="images/home_gamebtn.png")
					h1(data-i18n="home.button.game")
				div(class="small-6 columns")
					div(class="big-btn")
						a(href="book.html" class="ajax")
							img(src="images/home_bookbtn.png")
					h1(data-i18n="home.button.book")

			div(class="lang")
				a(href="index.html" class="lang-switch" data-i18n="[html]home.button.switch")
				h2(data-i18n="[html]home.langswitch")

		include footer